.buttonLang {
   color: #828282;
   font-size: 16px;
   line-height: 20px;
   border: none;
   background:none;
}

.buttonLang__active {
   color: black;
   font-size: 16px;
   line-height: 20px;
   border: none;
   background:none;
}