.about_me__info {
   width: 100%;
   background-color: #F6F6F6;
   padding-bottom: 90px;


   .about_me__info__name {
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      color: #070707;
      padding-top: 120px;
      margin-top: 0px;
   }

   p {
      font-family: 'Gilroy-Medium';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #070707;
   }
}