.about_me__info {
   width: 100%;
   background-color: #F6F6F6;
   padding-bottom: 90px;
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #070707;
}