.footer {
   .allSections_info__name {
      margin-bottom: 20px;
   }

   .footer__welcome {
      margin-left: auto;
      margin-right: auto;
      font-family: 'Gilroy-Medium';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #070707;
      margin-bottom: 30px;
   }

   .footer_button {
      width: 180px;
      background-color: #070707;
      font-family: 'Gilroy-Bold';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      border: none;
      height: 42px;
      margin-bottom: 85px;
      border-radius: 21px;
      cursor: pointer;
   }

   .footer__resource {
      width: 342px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 45px;
   }

   .footer__like_me {
      font-family: 'Gilroy-Medium';
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #828282;
      margin-bottom: 123px;
   }
}

@media screen and (max-width: 440px) {
   .footer {
      .footer__resource {
         width: 315px;
      }
   }
}

