.App {
  text-align: center;
}

@media screen and (max-width:1040px) and (min-width:640px) {
   .App {
      padding: 50px;
   }
}

@media screen and (max-width:400px) {
   .App {
      padding: 5px;
   }
}








